# Folders
.vs/
SyntaxVisitors/bin/
PascalABC/bin/
Common/bin/
GUI/bin/
obj/

# Visual studio files.
*.sdf
*.pdb
*.suo
*.dll
Documentation/OptimizedCompilersProjectDocumentation.docx
Documentation/OptimizedCompilersProjectDocumentation.txt
